.container {
  align-self: center;
}

.content {
  align-self: left;
  display: flex;
  flex-direction: column;
  color: rgba(0, 0, 0, 0.5);
  font-size: 0.6rem;
}

.content a {
  text-decoration: underline;
}
